@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: linear-gradient(180deg, #19376d 0%, rgba(25,55,109,0.6) 100%);
    padding: 18px 24px;
    max-width: 345px;
    margin:16px;
    z-index: 1;

}

.image {
    margin-bottom: 26px;
}

.title {
    font-size: 25px;
    font-weight: 700;
}

.description {
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    list-style: none;
}

.skill {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background: #576cbc;
    padding: 2px 20px;
}

.links {
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
} 

.link {
    text-decoration: none;
    color: var(--color-text);
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-primary);
    padding: 1px 22px;
}