/*creates variables for properties and can import the variables in other files*/
:root {
    /* colors*/
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #9172B4;
    --color-bg: #9172B4;
    /* fonts*/
    --font-roboto: "Roboto";
}